@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6;
}
